<h1>Database Relational Helper</h1>
<div class="input">
<label id="attrs-label" for="attrs">Input Attributes (seperated by comma):</label>
<input id="attrs" (input)="attrstr=$event.target.value" placeholder="Attr1, Attr2, Attr3"/>
<label id="fds-label" for="fds">Input Functional Dependencies (1 FD per line):</label>
<textarea id="fds" [rows]="textAreaHeight()" (input)="fdsstr=$event.target.value" placeholder="Attr1, Attr2 -> Attr3&#10;Attr2 -> Attr1, Attr3"></textarea>
</div>
<button (click)="parse()">Parse</button>
<div>{{parsedRes}}</div>
<router-outlet></router-outlet>